body{
    margin-top: 20px;
    font-family: serif;
    
}
.profile_pic{
    width: 150px;
    
    
}

.card{
    width: 400px;
    display:flex;
    justify-content: space-around;
    padding: 20px;
    margin: auto auto;
    border-bottom: 5px solid grey;
    background: #acc8d7;
    color: #2b2839
    
    
    
}
.info{
    
   
    text-align: center;
}
.bord{
    border: 1px dotted lightseagreen;
}